<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}:D{% endblock %}</title>
        {% load static %}
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'skeleton/css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'skeleton/css/skeleton.css' %}" />
    </head>
    {% block scripts %}
    {% endblock %}
    <body>
        <div id="content" class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

